<div class="main">
  <form [formGroup]="myForm">
    <div class="form-group">
      <label>Name </label>
      <input name="name" formControlName="userName" class="form-control">
      <mat-error *ngIf="myForm.controls['userName'].invalid && myForm.controls['userName'].touched">
        Please enter your name
      </mat-error>
    </div>
    <div class="form-group">
      <label>Surame </label>
      <input name="surame" formControlName="userSurname" class="form-control">
      <mat-error *ngIf="myForm.controls['userSurname'].invalid && myForm.controls['userSurname'].touched">
        Please enter your surname
      </mat-error>
    </div>
    <div class="form-group">
      <label>Birthday </label>
      <app-calendar [parentForm]="myForm"></app-calendar>
      <mat-error *ngIf="myForm.controls['calendar'].invalid && myForm.controls['calendar'].touched">
        Please enter date
      </mat-error>
    </div>
    <div class="form-group">
      Framework
      <select (change)="techSelect()" formControlName="userTechnology">
        <option *ngFor="let item of technologyKeys" [value]="item">
          {{item}}
        </option>
      </select>
      <mat-error *ngIf="myForm.controls['userTechnology'].invalid && myForm.controls['userTechnology'].touched">
        Please choose technology
      </mat-error>
    </div>
    <div class="form-group">
      Version
      <select id="version" formControlName="userTechnologyVersion" >
        <option *ngFor="let version of technologyValues">
          {{version}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <app-async-validator
        [parentForm]="myForm"
      >
      </app-async-validator>
      <mat-error *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched">
        Please enter valid email
      </mat-error>
    </div>
  <div formArrayName="userHobbi" >
    <div class="form-group" *ngFor="let item of getFormsControls()['controls']; let i = index">
      <label>Hobby </label>
      <input name="hobbi" class="form-control" formControlName="{{i}}">
    </div>
    <div class="form-group">
      <button class="btn btn-default" (click)="addHobby()">
        Add hobby
      </button>
    </div>
  </div>
  <div class="form-group">
    <button
      class="btn btn-default"
      (click)="sendData()"
      [disabled]="myForm.invalid"
    >
      Send
    </button>
  </div>  
  </form>
</div>
