/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
input, select{
  height: 20px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid #eee;
  transition: .3s border-color;
}
  
input {
  border: 1px solid #aaa;
}
